<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>456768181730-b5614f38e2es1dujlupn17sqi86pgvm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456768181730-b5614f38e2es1dujlupn17sqi86pgvm1</string>
	<key>API_KEY</key>
	<string>AIzaSyAs61a-EYskiR0Pq5hndJLG9WHlRf7l7Fs</string>
	<key>GCM_SENDER_ID</key>
	<string>456768181730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LukaszMarciniak.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-12c85</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-12c85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:456768181730:ios:df013d6eb55f50fe</string>
	<key>DATABASE_URL</key>
	<string>https://socialmedia-12c85.firebaseio.com</string>
</dict>
</plist>